body{
background:url(https://www.bypeople.com/wp-content/uploads/2015/05/css-gradient-background.png) ;
background-size: cover;
}
.container{
    width: 500px;
    height: 500px;
    margin-left: 730px;
    margin-right: 910px;
    position: relative;
    bottom: 300px;
    
}
.box-1{

font-size: 34px;  
    height: 430px;
    width: 430px; 
    position: relative;
    top:-155px;
    bottom: 170px;
    left: 250px;
    border: 5px ;
    border-color: red solid;
    border: 1px solid #dbdbdb;
    border-radius: 60px;
    padding: 0px 0px 20px 50px;
    
    
}
#LOGOIMAGE{
    width: 450px;
    height: 450px;
    margin-left:300px; 
    margin-top: 200px;
    border-radius:  60px;
    border:5px red solid;
 
   
}
#login{
    background-color: rgb(174, 214, 240);
    color:rgb(252, 250, 248);
    width: 260px;
    height: 35px;
    border-radius: 10px 20px;
    display: flex;
    flex-direction: column;
    padding-left: 105px;
    padding-top: 8px;

border-color: rgb(180, 17, 17);
}
#login:hover{
    background-color: rgb(17, 12, 78);
}

.DENAS-POWER{
    color: red;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif
}
#pwd{
    
  width: 250px;
  height: 25px;
  border-radius: 9px;
  border-color: rgb(180, 17, 17);
   background: transparent;
}
#email{
    
    border-radius: 9px;
    width: 250px;
    height: 25px;
    border-color: rgb(180, 17, 17);
     background: transparent;
}

.box-1 [for="email"]{
color: rgb(17, 12, 78);
}
.box-1 [for="pwd"]{
    color: rgb(17, 12, 78)
    
}
#incorrect-pwd{
    display: none;
    visibility: visible;
    color: red;
    font-size: 20px;
   }







