body{
    background-color: rgb(143, 209, 253);
}
.container{
    width: 500px;
    height: 500px;
    margin-left: 730px;
    margin-right: 910px;
    position: relative;
    bottom: 300px;
}
.box-1{

font-size: 34px;   
    position: relative;
    bottom: 170px;
    left: 250px;
}
#LOGOIMAGE{
    width: 450px;
    height: 450px;
    margin-left:300px; 
    margin-top: 200px;
    border-radius:  60px;
    border:5px red solid;
 
   
}
#login{
    background-color: rgb(174, 214, 240);
    color:rgb(252, 250, 248);
    width: 260px;
    height: 35px;
    border-radius: 10px 20px;

border-color: rgb(180, 17, 17);
}
#login:hover{
    background-color: rgb(17, 12, 78);
}

h1{
    color: red;
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif
}
#pwd{
    
  width: 250px;
  height: 25px;
  border-radius: 9px;
border-color: rgb(180, 17, 17);
}
#email{
    
    border-radius: 9px;
    width: 250px;
    height: 25px;
    border-color: rgb(180, 17, 17);
}

.box-1 [for="email"]{
color: rgb(17, 12, 78);
}
.box-1 [for="pwd"]{
    color: rgb(17, 12, 78)
    
}