body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: 100%;
  height: 30px;
}
.head h3{
  color: #fff;
  margin: 0 0 0 25px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head span{
  color:#1DC4E7;
}

.hello{
text-decoration:none;
margin-top: -40px;
margin-right: 70px;
text-align: center;
border-radius: 2px;
font-size: 17px;
font-weight: 600;
color:#fff;
} 

.side-bar{
  
  background-color:#1DC4E7;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;

}

.profiledp{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 10px;

}

.side-bar h4{
  color:#fff;
  margin-top: 0;
  margin-bottom: 20px;
  
}
.side-bar a{
  
  color: #fff;
  display: block;
  width: 100%;
  list-style: none;
  line-height: 120px;
  font-weight: 700;
font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration:none;
  padding-left: 85px;
  box-sizing:border-box;
  transition: 0.4s;
  transition-property:background;
 
 
}

.side-bar a:hover{
  background-color: black;
  color: #fff;
  list-style: none;
  text-decoration: underline;
}
 
