body {
  background-color: #ffffff;
}
a {
  padding: 8px;
  text-decoration: none;
}
#navbar ul {
  list-style: none;
  padding: 0px;
}

#navbar {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  height: auto;
  overflow: visible;
  line-height: 1.5;
  list-style: none;
  
}
#navbar li {
  display: inline;
  font-size: 16px;
}

li > a {
  margin-right: 10px;
  color: rgb(131, 211, 66);
}
a:hover {
  border-radius: 20px;
  background-color: #f5f5f5;
  text-decoration: underline;
}
.Sale{
  color: rgb(245, 56, 56);
  border-radius: 10px 20px;
  background-color: lightblue;
}

.Sale:hover{
  background-color: rgb(230, 255, 92);
  color: rgb(131, 211, 66);


}

.Furniture{

  color: rgb(245, 56, 56);
  border-radius: 10px 20px;
  background-color: lightblue;
}

.Furniture :hover{

color: rgb(245, 56, 56);
  border-radius: 10px 20px;
  background-color: lightblue;

}